{cover_enabled, true}.
{cover_print_enabled, true}.
{port_envs, [{"linux","LDFLAGS", "$LDFLAGS -ldns_sd"}]}.
{erl_opts, [fail_on_warning, debug_info]}.
{deps, [{edown, ".*", {git, "git://github.com/esl/edown.git", "HEAD"}}]}.
{edoc_opts, [{doclet, edown_doclet},
	     {app_default,"http://www.erlang.org/doc/man"}]}.