%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{cover_enabled, true}.
{cover_print_enabled, true}.
{erl_opts, [debug_info,
	    {platform_define, "(R14|R15)", 'warnings_as_errors'},
	    {platform_define, "(linux|bsd)", 'AVAHI'}]}.
{edoc_opts, [{overview, "overview.edoc"}, {dir, "doc"}]}.
{eunit_opts, [verbose]}.


{port_specs, [{"linux", "priv/dnssd_drv.so", ["c_src/*.c"]},
              {"darwin", "priv/dnssd_drv.so", ["c_src/*.c"]}]}.
{port_env, [{"linux", "LDFLAGS", "$LDFLAGS -ldns_sd"}]}.

{pre_hooks, [{compile, "escript winbuild.escript"}]}.

