{cover_enabled, true}.
{cover_print_enabled, true}.
{port_sources, [{"darwin", ["c_src/*.c"]}, {"linux", ["c_src/*.c"]}]}.
{port_envs, [{"linux", "LDFLAGS", "$LDFLAGS -ldns_sd"}]}.
{erl_opts, [warnings_as_errors, debug_info,
	    {platform_define, "(linux|bsd)", 'AVAHI_COMPAT_NOWARN'}]}.
{pre_hooks, [{compile, "escript winbuild.escript"}]}.
{edoc_opts, [{overview, "overview.edoc"}, {dir, "doc"}]}.
